
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.nav{
    background-color:
    #24252a;
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.small{
  
    height: auto;
    width: 20%;
}
h1{
    color: white;
   
    padding-left: 20px;
}
.b{
    display: flex;
    justify-content: space-around;
}
h4{
    color:#aeb0b6;
}
.c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    color: white;
    background-color:
    #0087a5;
    font-size: large;
    text-align: center;
    height: 5vh;
    width: 18vh;
    border-radius: 25px;
    padding-top: 3px;
    border: none;
   
}
